body{
font-family:Arial,sans-serif;
background:#f4f4f4;
text-align:center;
margin:0;
padding:0;
}

.container{
margin-top:80px;
background:white;
width:70%;
margin-left:auto;
margin-right:auto;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

button{
background:#007BFF;
color:white;
padding:10px 20px;
border:none;
border-radius:5px;
cursor:pointer;
font-size:16px;
}

button:hover{
background:#0056b3;
}